<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home toolbar 1</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen scrollEvents>
  <div id="container">
    <ion-list>
      <ion-list-header>Pre-Orders</ion-list-header>
      <ion-item *ngFor="let preorder of preorders">
        <ion-img
          style="width: 20%;"
          src="https://cdn.garciasupermercados.com.br/media/catalog/product/cache/1/image/1000x1000/17f82f742ffe127f42dca9de82fb58b1/m/a/macnissingalcaipira.jpg"
        ></ion-img>
        <ion-label>
          <h2>{{preorder.name}}</h2>
          <h3>{{preorder.description}}</h3>
          <p>Listen, I've had a pretty messed up day...</p>
        </ion-label>
      </ion-item>
      <ion-button *ngIf="showLoadMore" (click)="loadPreorders()" size="small">Load More</ion-button>
    </ion-list>
  </div>
</ion-content>
